#{extends 'main.html' /}
#{set title:'Input Pengguna' /}

#{form @save()}
    <input type="hidden" name="data_pengguna.id" value="${data_pengguna?.id}">
    
    <p class="field">
        <label for="nama">Nama:</label>
        <input type="text" id="nama" name="data_pengguna.nama" value="${data_pengguna?.nama}">
        <span class="error">${errors.forKey('data_pengguna.nama')}</span>
    </p>

    <p class="field">
        <label for="alamat">Alamat:</label>
        <input type="text" id="alamat" name="data_pengguna.alamat" value="${data_pengguna?.alamat}">
        <span class="error">${errors.forKey('data_pengguna.alamat')}</span>
    </p>

    <p class="field">
        <label for="pekerjaan">Pekerjaan:</label>
        <input type="text" id="pekerjaan" name="data_pengguna.pekerjaan" value="${data_pengguna?.pekerjaan}">
        <span class="error">${errors.forKey('data_pengguna.pekerjaan')}</span>
    </p>

    <p class="field">
        <label for="email">Email:</label>
        <input type="text" id="email" name="data_pengguna.email" value="${data_pengguna?.email}">
        <span class="error">${errors.forKey('data_pengguna.email')}</span>
    </p>

    <p class="buttons">
     	<a href="@{list()}">Cancel</a> or <input type="submit" value="Save" id="savedata_pengguna">
    </p>
#{/form}